# NILAI TUGAS

In [90]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))
print ("DAFTAR NILAI TUGAS DARI 250 Mahasiswa:")
print(nilaiTugas)
print ( )
print ("============")

#AKAN DITAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

DAFTAR NILAI TUGAS DARI 250 Mahasiswa:
[98, 11, 87, 92, 51, 68, 68, 26, 18, 96, 68, 29, 37, 56, 76, 70, 73, 5, 40, 27, 29, 93, 35, 41, 82, 36, 8, 68, 60, 29, 92, 78, 20, 36, 38, 86, 14, 26, 11, 38, 99, 28, 41, 10, 35, 56, 14, 11, 59, 45, 54, 83, 4, 77, 86, 76, 86, 85, 19, 71, 17, 36, 26, 13, 80, 99, 81, 34, 22, 12, 65, 59, 30, 9, 93, 16, 68, 96, 23, 97, 53, 27, 79, 32, 71, 27, 68, 25, 45, 60, 97, 65, 82, 84, 8, 49, 15, 27, 90, 51, 45, 47, 67, 95, 62, 75, 55, 13, 30, 48, 83, 58, 90, 64, 66, 45, 2, 36, 79, 64, 65, 85, 8, 88, 85, 85, 63, 29, 71, 43, 37, 91, 37, 30, 17, 14, 72, 18, 34, 64, 92, 13, 53, 30, 80, 57, 42, 89, 38, 18, 34, 63, 15, 3, 85, 85, 79, 9, 10, 29, 49, 18, 12, 78, 44, 10, 69, 31, 65, 39, 17, 78, 2, 11, 56, 74, 60, 13, 82, 12, 13, 43, 90, 79, 76, 48, 37, 57, 34, 28, 23, 83, 66, 20, 54, 75, 24, 55, 28, 51, 81, 60, 55, 48, 87, 59, 90, 53, 97, 72, 33, 89, 62, 63, 41, 9, 61, 13, 64, 30, 46, 41, 78, 5, 52, 15, 28, 29, 67, 99, 93, 41, 44, 12, 72, 29, 61, 88, 96, 76, 64, 55, 8, 32, 46, 47, 83, 8, 10, 89]

============

In [91]:
#ganjil  (g)
print ("Nilai Tugas dengan Bilangan Ganjil:")
ganjil = []
for g in nilaiTugas:
    if g%2==1:
        ganjil.append(g)
print (ganjil)
print ( )
print ("============")

Nilai Tugas dengan Bilangan Ganjil:
[11, 87, 51, 29, 37, 73, 5, 27, 29, 93, 35, 41, 29, 11, 99, 41, 35, 11, 59, 45, 83, 77, 85, 19, 71, 17, 13, 99, 81, 65, 59, 9, 93, 23, 97, 53, 27, 79, 71, 27, 25, 45, 97, 65, 49, 15, 27, 51, 45, 47, 67, 95, 75, 55, 13, 83, 45, 79, 65, 85, 85, 85, 63, 29, 71, 43, 37, 91, 37, 17, 13, 53, 57, 89, 63, 15, 3, 85, 85, 79, 9, 29, 49, 69, 31, 65, 39, 17, 11, 13, 13, 43, 79, 37, 57, 23, 83, 75, 55, 51, 81, 55, 87, 59, 53, 97, 33, 89, 63, 41, 9, 61, 13, 41, 5, 15, 29, 67, 99, 93, 41, 29, 61, 55, 47, 83, 89]

============

In [92]:
#nilai > 70 (t)
print ("Nilai > 70")
diatas = []
for t in nilaiTugas:
    if t>70:
        diatas.append(t)
print ("*Ada Sebanyak", t, "Nilai Tugas > 70")
print ("*Nilai Tugas > 70 tersebut adalah", diatas)
        
print ( )
print ("============")

Nilai > 70
*Ada Sebanyak 89 Nilai Tugas > 70
*Nilai Tugas > 70 tersebut adalah [98, 87, 92, 96, 76, 73, 93, 82, 92, 78, 86, 99, 83, 77, 86, 76, 86, 85, 71, 80, 99, 81, 93, 96, 97, 79, 71, 97, 82, 84, 90, 95, 75, 83, 90, 79, 85, 88, 85, 85, 71, 91, 72, 92, 80, 89, 85, 85, 79, 78, 78, 74, 82, 90, 79, 76, 83, 75, 81, 87, 90, 97, 72, 89, 78, 99, 93, 72, 88, 96, 76, 83, 89]

============

In [93]:
#standar deviasi (sd)
print ("Standar Deviasi =")
banyakdata = 250  #Dari soal diketahui banyak data = 250

for n in nilaiTugas:
    sum_x= n
    sum_x_kuadrat= (n**2)
sd=((banyakdata*sum_x_kuadrat-(sum_x**2))/(banyakdata*(banyakdata-1)))**(1/2)
print(sd)
print ( )
print ("============")

Standar Deviasi =
5.628854235099715

============

In [94]:
#maksimum (maks)
print ("Nilai Tugas Tertinggi Adalah")
maks=0
for n in nilaiTugas:
    if n>maks:
        maks=n
print (maks)
print ( )
print ("============")

Nilai Tugas Tertinggi Adalah
99

============

In [95]:
#minimum (min)
print ("Nilai Tugas Terendah Adalah")
min=100
for n in nilaiTugas:
    if n<min:
        min=n
print (min)
print ( )
print ("============")

Nilai Tugas Terendah Adalah
2

============

In [96]:
#modus
print ("Nilai Modus Adalah")
maksimal=0
modus={}
for i in nilaiTugas:
    count= nilaiTugas.count(i)
    modus.update({i:count})

for key in modus:
    if modus[key]>maksimal:
        maksimal=modus[key]

for key in modus:
    if modus[key]==maksimal:
        print(key)

print ( )
print ("============")

Nilai Modus Adalah
29

============

# WORD COUNT

In [97]:
#word count
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print ("PARAGRAFNYA ADALAH")
print (paragraf)

paragraf = paragraf.replace('.', '')
paragraf = paragraf.replace('-', '')
paragraf = paragraf.replace('(', '')
paragraf = paragraf.replace(')', '')
paragraf = paragraf.replace('/', '')
paragraf = paragraf.replace(',', '')


kata = paragraf.split(" ")
# for key,i in enumerate(kata):
#     print(key,i)

count = dict()
for i in kata:
    if i in count:
        count[i]=count[i]+1
    else:
        count[i]=1
print ( )
print ("Banyak Kemunculan Tiap Kata Adalah")
print('\n',count)

print ( )
print ("============")

PARAGRAFNYA ADALAH
Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.

Banyak Kemunculan Tiap Kata Adalah

 {'Barcelona': 4, 'berhasil': 1, 'merebut': 1, 'posisi': 1, 'puncak': 1, 'klasemen': 1, 'La': 1, 'Liga': 1, 'Spanyol': 1, 'seusai': 1, 'menang': 1, '42': 1, 'atas': 1, 'Sevilla': 1, 'pada': 3, 'pertandingan': 1, 'pekan': 1, 'kesembilan': 1, 'di': 1, 'Stadion': 1, 'Camp': 1, 'Nou': 1, 'Sabtu': 1, '20102018': 1, 'atau': 1, 'Minggu': 1, 'dini': 1, 'hari': 1, 'WIB': 1, 'membuka': 1, 'keunggulan': 2, 'menit': 3, 'ke2': 1, 'melalui': 1, 'gol': 1, 'yang': 1, 'dicetak': 1, 'oleh': 1, 'Philippe': 1, 'Coutinho': 1, 'Lionel': 1, 'Messi': 3, 'menggandakan': 1, '10': 1, 'berselang': 1, '': 1, 'Namun': 1, 'nahas': 1, 'bagi': 1, 'karena': 1, 'harus': 1, 'ditarik': 1, 'keluar': 1, 'ke26': 1, 'setelah': 1, 'mengalami': 1, 'cedera': 1, 'Tanpa': 1, 'skor': 1, '20': 1, 'bertahan': 1, 'hingga': 1, 'babak': 1, 'pertama': 1, 'berakhir': 1}

============