In [17]:
from twython import Twython
import pandas as pd

In [18]:
#Log in Twitter API
TWITTER_APP_KEY = "bgAsjeaOjDhijVVNj0CKvmXd1"
TWITTER_APP_KEY_SECRET = "i4ogIK1Pw0sHtPMve71JgzONGGz5osFNoKELQ31QmXdJZK6CJF"
TWITTER_ACCESS_TOKEN = "946009581813039106-1p9P45cWrcjhgugctlTA48VzkxkoKxT"
TWITTER_ACCESS_TOKEN_SECRET = "CXF8ijxLrF4T9KHXsNR8XhJx77uKARW9KGS0PtrOeYa4j"

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

In [19]:
#Query
term = 'susipudjiastuti'
tweet_metadatas = t.search(q=term,count=100,result_type='recent',lang='id')

#Scrapping
data_list = []
for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

In [20]:
#Visual
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Sun Nov 04 03:54:12 +0000 2018,@NitaSellya @susipudjiastuti ❤❤ titip salam &a...,thiyut
1,Sun Nov 04 03:54:03 +0000 2018,RT @ndorokakung: Senang melihat aktivitas sant...,ARatnashary
2,Sun Nov 04 03:53:58 +0000 2018,@Aryprasetyo85 @susipudjiastuti @enylove2 @FaG...,EAndesla
3,Sun Nov 04 03:53:46 +0000 2018,RT @kumparan: Hari ini perjalanan akan ditutup...,FoldDana
4,Sun Nov 04 03:53:25 +0000 2018,RT @Rais56482946: Sy suka banget motif baju.y ...,gistrong

In [21]:
#Export
writer = pd.ExcelWriter('result.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()